.available-hotels {
    background-color: #eaf0f9;
    padding-top: 120px;
}

.available-hotels-container {
    width: 1440px;
    margin: 0 auto;
}

.available-hotels-elements {
    width: 1257px;
    display: flex;
    flex-wrap: wrap;
    margin: 105px auto 0;
    position: relative;
}

a:-webkit-any-link {
    text-decoration: none;
    margin: 0 auto;
}
