.header {
    margin: 0 auto;
    padding: 51px 0;
    width: 1232px;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    width: 205px;
    height: 40px;
}

.logo-icon {
    width: 205px;
    height: 40px;
}
